* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #e6d5c8;
    font-family: Arial, sans-serif;
    color: #333;
    margin: 20%;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: white;
    width: 350px;
    padding: 80px 30px 30px 30px;
    border-radius: 30px;
    text-align: center;
    position: relative;
    margin-top: 50px;
}

.image-container img {
    position:absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}

.Text1 {
    color: orange;
    font-size: 20px;
    margin-bottom: 10px;
}

.Text2 {
    font-size: 16px;
    margin-bottom: 10px;
}

h1 {
    font-size: 32px;
    margin-bottom: 5px;
}

.Icon i {
    background-color: #e6e3e3;
    color: #334155;
    padding: 15px;
    border-radius: 50%;
    font-size: 18px;
    cursor: pointer;
}

button {
    background-color: orange;
    color: white;
    border: none;
    width: 50%;
    margin-top: 10px;
    padding: 10px;
    border-radius: 50px;
    font-size: 20px;
    cursor: pointer;
}

img {
    width: 200px;
    height: auto;
    border-radius: 10px;
}

