* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #e5e7eb;
    display: flex; 
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
}

.main-container {
    display: flex; 
    background-color: #e5e7eb; 
    width: 800px; 
}

.text-container {
    padding: 60px;
    text-align: center;
    width: 70%;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 32px;
    margin-bottom: 20px;
}

.lista-hrs {
    list-style: none;
    padding: 0;
    margin: 5px 0;
    font-size: 15px;
}

.boton {
    background: black;
    color: white;
    padding: 15px 30px; 
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.image-container {
    width: 100%;
}

.image-container img {
    width: 100%;
    height: 100%;
    display: block;
}